@value variables: "./variables.css";
@value primary from variables;

.productCard {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
}

.image {
  width: 100%;
}

.title {
  font-size: 20px;
  padding: 0 1rem;
  word-break: break-word;
}

.body {
  flex: 1;
  padding: 0 1rem;
}

.price {
  padding: 1rem;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color: primary;
}

.favButton {
  padding: 1rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.favButtonInactive {
  color: red;
}

.favButtonActive {
  color: primary;
}
